@import "./variables.css"; 
@import "./animations.css"; 

/***********************
 * Idk what this does. *
 *    No touchies.	   *
 **********************/
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/********************
 *   	  Fonts 		  *
 ********************/
@font-face {
	font-family: 'Fira Code';
	font-style: normal;
	font-weight: 300;
	src: local('Fira Code'), url('./FiraCode-Light.woff') format('woff');
}
@font-face {
	font-family: 'Fira Code';
	font-style: normal;
	font-weight: 500;
	src: local('Fira Code'), url('./FiraCode-Regular.woff') format('woff');
}
body * {
	font-family: "Fira Code";
	font-weight: 300;
}

/********************
 * 	   General		  *
 ********************/

html, body, #root {
	height:100%;
	width:100%;
}
body {
	margin: 0;
	background-color: var(--bg-color);
	color: var(--default-color);
	overflow: hidden;
}
p {
	margin:0px
}
a, a:visited, a:active {
	color: var(--default-color);
	text-decoration: none;
}

/********************
 * 	   Scrollbar	*
 ********************/
::-webkit-scrollbar {
    /* width */
    width: 10px;
}

::-webkit-scrollbar-thumb {
    /* Handle */
    background: var(--default-color);
}

::-webkit-scrollbar-thumb:hover {
	/* Handle on hover */
    background: var(--default-color);
}

::-webkit-scrollbar-track-piece {
    /* not handle on */
    background: transparent;
}
