:root {
	--bg-color: rgba(46,46,46);
	--default-color: rgba(230,230,230);
	--accent-color: rgb(255, 180, 230);
	--accent-color2: rgb(180, 255, 230);
	--border-radius: 5px;
	--settings-window-gap: 50px;
	--text-shadow-downwards: 1px 0px 0 var(--accent-color),
            -1px 0px 0 var(--accent-color),
            0px -1px 0 var(--accent-color),
            0px 1px 0 var(--accent-color),
            0px 2px 0 var(--accent-color),
            0px 3px 0 var(--accent-color),
            0px 4px 0 var(--accent-color);
}